<div class="body">
  <mat-card class="login-card">
    <mat-card-header class="header">
      <h4>Quick access with</h4>
    </mat-card-header>

    <mat-card-content>

    </mat-card-content>
    <mat-card-actions class="action">
      <button mat-raised-button class="img" (click)="loginWithGoogle()">
        <img src="../../../assets/google.png">
      </button>
      <button mat-raised-button class="img" (click)="loginWithFacebook()">
        <img src="../../../assets/facebook.png">
      </button>
      <button mat-raised-button class="img" (click)="loginWithGitHub()">
        <img src="../../../assets/github.png">
      </button>
    </mat-card-actions>
  </mat-card>
</div>
