<div class="flex">
  <div class="mainitem">
    <mat-list class="product-list">
      <mat-grid-list cols="1" rowHeight="130px">
        <div *ngFor="let product of productCart$|async; trackBy: trackByFunction">
          <mat-grid-tile>
            <mat-card class="card-prod">
              <mat-selection-list (selectionChange)="selection($event, product)">
                <mat-list-option [value]="product.productId">
                </mat-list-option>
              </mat-selection-list>
              <mat-card-content>
                <img class="img" [src]="product.imageUrl" alt="product">
              </mat-card-content>
              <mat-card-content class="content-description">
                <div class="row">
                  <div><b>title:</b> {{product.title}}</div>
                </div>
                <div class="row">
                  <div><b>price:</b> {{product.price|currency}}</div>
                </div>
                <div class="row">
                  <app-product-cart (priceOperator)="getQuantity($event)"
                                    [productId]="product.productId"></app-product-cart>
                </div>
              </mat-card-content>
            </mat-card>
          </mat-grid-tile>
        </div>
      </mat-grid-list>
    </mat-list>
  </div>
  <div class="sideitem">
    <div class="item">
      <mat-card class="card-payment">
        <mat-card-content>
          <h2>Order Summary</h2>
          <div class="total-price">
              <h4 class="total1">Total </h4>
              <h4 class="total2">{{totalPrice|currency}}</h4>
          </div>
          <button type="submit" class="btn btn-danger">BUY</button>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="item">
      <mat-card class="card-payment-methods">
        <mat-card-content>
          <div>
            <h4>Payment Methods</h4>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
