

.card-prod {
  margin-left: 8%;
  display: flex;
  flex-basis: 100%;
  margin-right: auto;
}

.img {
  border-radius: 5%;
  width: 6vw;
  height: 5vw;
}

.content-description {
  margin-left: 18px;
}

.product-list {
  height: 90vh;
  overflow-y: auto;
}

::-webkit-scrollbar {
  width: 0;
  background: transparent;
}


.mat-list-option{
  width: 5% !important;
}

.icon{
  margin-left: auto;
  cursor: pointer;
  color: #808080;
}
.shop-cart{
  display: flex;
  margin-right: auto;
}
@media all and (min-width: 410px) and (max-width: 567px) {
  .img {
    border-radius: 5%;
    width: 18vw;
    height: 17vw;
  }
}

@media all and (min-width: 360px) and (max-width: 374px) {
  .img {
    border-radius: 5%;
    width: 20vw;
    height: 19vw;
  }
}

@media all and (min-width: 375px) and (max-width: 413px) {
  .img {
    border-radius: 5%;
    width: 19vw;
    height: 18vw;
  }
}


@media all and (min-width: 731px) and (max-width: 810px) {
  .img {
    border-radius: 5%;
    width: 10vw;
    height: 9vw;
  }
}

@media all and (min-width: 320px) and (max-width: 359px) {
  .img {
    border-radius: 5%;
    width: 22vw;
    height: 21vw;
  }
}

@media all and (min-width: 568px) and (max-width: 666px) {
  .img {
    border-radius: 5%;
    width: 13vw;
    height: 12vw;
  }
}

@media all and (min-width: 667px) and (max-width: 730px) {
  .img {
    border-radius: 5%;
    width: 11vw;
    height: 10vw;
  }
}

@media all and (min-width: 812px) and (max-width: 979px) {
  .img {
    border-radius: 5%;
    width: 9vw;
    height: 8vw;
  }
}

@media all and (min-width: 980px ) and (max-width: 1213px) {
  .img {
    border-radius: 5%;
    width: 8vw;
    height: 7vw;
  }
}


.flex {
  background-color: #f2f2f2;
  display: flex;
  max-width: 100%;
  margin: 0 auto;
}

.mainitem, .item {
  flex-grow: 1;
}

.mainitem {
  min-height: 300px;
}

.sideitem {
  flex-basis: 30%;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
}

.card-payment {
  display: flex;
  margin: 3.7% 8% 0 4% ;
  height: 70%;
  justify-content: center;
  align-items: center;
}

.card-payment-methods {
  display: flex;
  margin: -22% 8% 0 4%;
  height: 130%;
  justify-content: center;
  align-items:flex-start;
}

.item:first-child {
  margin-bottom: 10px;
}
.total-price {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.total1 {
  display: flex;
  margin-top: 20%;
}
.total2 {
  display: flex;
  margin-top: 20%;
}
.btn{
  width: 100%;
  background-color:#ff4747!important;
}
mat-selection-list{
  width: 3px;
}
.select-all {
  padding: 3px;
  display: flex;
  flex-direction: row;
  margin-left: 4.5%;
  align-items: center;
}

.span-select-all{
  display: flex;
  margin-left: 12%;
}
/*@media screen and (max-width: 600px) {*/
/*  .flex {*/
/*    flex-wrap: wrap;*/
/*  }*/

/* */
/*  .sideitem {*/
/*    flex-direction: row;*/
/*    flex-basis: 100%;*/
/*  }*/

/*  .item {*/
/*    margin-left: 0;*/
/*    margin-top: 10px;*/
/*  }*/

/*  .item:first-child {*/
/*    margin-bottom: 0;*/
/*    margin-right: 10px;*/
/*  }*/
/*}*/


/*@media screen and (max-width: 450px) {*/
/*  .sideitem {*/
/*    flex-wrap: wrap;*/
/*  }*/

/*   разрешаем перенос */
/*  .item {*/
/*    flex-basis: 100%;*/
/*  }*/

/*  !* на всю ширину *!*/
/*  .item:first-child {*/
/*    margin-right: 0;*/
/*  }*/
/*}*/
.payment{
  display: flex;
  justify-content: space-between;
}
.select-list-option-all{
  width: 16px;
  height: 16px;
}
