<div class="flex">
  <div class="mainitem">
    <mat-list class="product-list">
      <mat-grid-list cols="1" rowHeight="130px">
          <mat-grid-tile>
            <mat-card class="card-prod " style="margin-top: -1.2%">
              <mat-card-content class="shopping-cart-delete-all">
                <span class="shopping-cart-span">Shopping cart</span>
                  <mat-icon class="delete-all" (click)="deleteAll()">delete_forever</mat-icon>&emsp;
              </mat-card-content>
            </mat-card>
          </mat-grid-tile>
          <div *ngFor="let product of productCart$|async; trackBy: trackByFunction">
            <mat-grid-tile>
              <mat-card class="card-prod">
                <mat-card-content>
                  <img class="img" [src]="product.imageUrl" alt="product">
                </mat-card-content>
                <mat-card-content class="content-description">
                    <div><b>title:</b> {{product.title}}</div>
                  <div class="one-row">
                    <mat-icon class="delete" (click)="delete(product.productId)">delete_forever</mat-icon>
                    <div class="price"><b>price:</b> {{product.price|currency}}</div>
                  </div>
                    <app-product-cart [productId]="product.productId"></app-product-cart>
                </mat-card-content>
              </mat-card>
            </mat-grid-tile>
          </div>
      </mat-grid-list>
    </mat-list>
  </div>
  <div class="sideitem">
    <div class="item pay">
      <mat-card class="card-payment">
        <mat-card-content class="card-content">
          <span class="order-summary">Order Summary</span>
          <div class="total-price">
            <span class="total1">Total </span>
            <span class="total2">{{totalPrice|currency}}</span>
          </div>
          <button class="btn btn-danger btn-buy" (click)="toBuy()">BUY({{quantitySelected}})</button>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="item method-pay">
      <mat-card class="card-payment-methods">
        <mat-card-content>
          <h4>Payment Methods</h4>
          <div class="payment">
            <img src="../../../assets/visa.png">
            <img src="../../../assets/paypal.png">
            <img src="../../../assets/mastercard.png">
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
